<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" src="/css/styles.css">
    
</head>
<body>
    <div class="main-content">
    {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
    <img class="portrait" src="/img/my image.jpg" alt="Nature Image">
            <p>created by {{name}}</p>

    </div>
            {{>footer}}
    </body>
</html>